@use '../app';

.start {
    margin-top: 16px;
}

label {
    display: block;
    font-size: 12px;
    color: app.$on-surface;

}
.custom-select {

    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: app.$surface-color;
    //color: app.$on-surface;

    select {
        appearance: none;
        background-color: transparent;
        color: app.$on-surface;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: 16px;
        cursor: inherit;
        line-height: inherit;
        outline: none;

        option {

            background-color: app.$surface-color;
            color: app.$on-surface;

            &:focus {
                background-color: app.$primary-color;
                color: app.$on-primary;
            }
        }
    }
}

.horiz-split {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 12px 12px;
    justify-content: space-evenly;
    align-items: flex-start;

}

.vert-line {
    background-color: transparent;
    width: 0%;
    height: 400px;
    border: 2px solid app.$surface-color;
}

form {
    div.form-section {
        padding: 8px 0;
    }
}

input {
    background-color: app.$surface-color;
    color: app.$on-surface;

    width: 75%;
    max-width: 400px;
    padding: 4px 4px;

    border: 1px solid app.$surface-color;
    border-radius: 4px;
    box-sizing: border-box;

    font: 100% app.$font-stack;

    &::selection {
        background-color: app.$primary-color;
        color: app.$on-background
    }

    &:hover:enabled {
        border-color: app.$surface-color-hover;
        color: app.$on-background;
    }

    &:focus:enabled {
        outline: none;
        border: 1px solid app.$primary-color-hover;
    }
}